<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    }

    .box-input {
        margin-top: 20px;
    }

    .box-buttons {
        margin-top: 10px;
        display: inline-block;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>login / Register</h1>
    <div class="box-inputs">
      <div class="box-input">
        <span>Usuario:</span>
        <input type="text" placeholder="Usuario" id="username">
      </div>
      <div class="box-input">
        <span>Contraseña:</span>
        <input type="password" placeholder="Contraseña" id="password">
      </div>
    </div>
    <div class="box-buttons">
      <button id="login">Logear</button>
      <button id="register">Registrar</button>
    </div>
    <h3 id="message">Ingrese o registre usuario</h3>
  </div>
  <!-- <script>
    const register = async () => {
        const username = document.querySelector("#username").value;
        const password = document.querySelector("#password").value;


        let objectRegister = {
                    
            method : "POST",
            body : JSON.stringify({
                username: username,
                password: password
            }),
            headers : {
                "Content-type" : "application/json"
            }
        }

        const response = await fetch(`http://localhost:3000/register`,objectRegister)
        const message = await response.json();

        document.querySelector("#message").textContent = message;
      console.log("hola")
    }

    document.querySelector("#register").addEventListener("click", register);
  </script> -->
</body>
</html>