.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.box-input {
    margin-top: 20px;
}

.box-buttons {
    margin-top: 10px;
    display: inline-block;
}